<%= link_to "New Game", new_web_game_path %>

<div style="width: 1020px; margin: 100px auto 100px auto;">
  <% if flash[:notice] %>
    <h4 class="notice"><%= flash[:notice] %></h4>
  <% end %>
  <%= @web_game_presenter.show_board.html_safe %>
</div>
